In [1]:
import json
import random
import textwrap
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from bellem.utils import jprint

In [2]:
# df = pd.read_json('../data/generated/reports/results.jsonl', lines=True)
df = pd.read_json('results.jsonl', lines=True)
print(len(df))
df.head()

300

,id,n_hops,answer,hops,predicted_answer,reference_answers,exact_match,f1,fuzzy_match
0,2hop__592067_529125,2,,[{'question': 'What is the seat of the county ...,,[San Andreas],0,0,0
1,2hop__91929_86706,2,,"[{'question': 'In the US Open, who beat the pe...",,[Novak Djokovic],0,0,0
2,2hop__507792_754472,2,,[{'question': 'Where did the rapper of Midnigh...,,"[San Francisco, California, San Fran, San Fran...",0,0,0
3,2hop__146174_8682,2,,[{'question': 'Who is the current mayor of the...,,[Linda Norris],0,0,0
4,2hop__61258_79404,2,,[{'question': 'How do you become a justice of ...,,"[Singapore, Republic of Singapore, appointed b...",0,0,0

In [3]:
def _parse_triplets(generation):
    seen_triplets_header = False
    for line in generation.split('\n'):
        if line.startswith('Triplets'):
            seen_triplets_header = True
            continue
        if line.startswith("Answer"):
            return
        if seen_triplets_header and line.strip():
            yield line.strip()

def parse_triplets(generation):
    return [triplet.strip() for triplet in _parse_triplets(generation) if triplet.strip()]

In [4]:
df['generation'] = df['hops'].map(lambda x: x[-1]['qa_result']['generation'])
# df['triplets'] = df['generation'].map(parse_triplets)
df.head()

,id,n_hops,answer,hops,predicted_answer,reference_answers,exact_match,f1,fuzzy_match,generation
0,2hop__592067_529125,2,,[{'question': 'What is the seat of the county ...,,[San Andreas],0,0,0,279200
1,2hop__91929_86706,2,,"[{'question': 'In the US Open, who beat the pe...",,[Novak Djokovic],0,0,0,
2,2hop__507792_754472,2,,[{'question': 'Where did the rapper of Midnigh...,,"[San Francisco, California, San Fran, San Fran...",0,0,0,
3,2hop__146174_8682,2,,[{'question': 'Who is the current mayor of the...,,[Linda Norris],0,0,0,the 79 201201201
4,2hop__61258_79404,2,,[{'question': 'How do you become a justice of ...,,"[Singapore, Republic of Singapore, appointed b...",0,0,0,

In [5]:
success_mask = df['f1'] > 0.7
fail_df = df[~success_mask]
success_df = df[success_mask]
print(len(fail_df), len(success_df), len(df))
print("{:.3f}".format(len(success_df)/len(df)))

299 1 300
0.003

In [6]:
def format_paragraph(paragraph):
    return f"Paragraph {paragraph['idx']} - {paragraph['paragraph_text']}"

def present_hop(hop):
    print('-'*80)
    print(hop['context'])
    print('-'*80)
    print(hop['question'])
    print('-'*80)
    print(hop['qa_result']['generation'])

def present_row(row):
    print(row['id'])
    print()
    print("Success" if row['f1']>0.99 else "Fail")
    print()
    for hop in row['hops']:
        present_hop(hop)
    print()
    print(f"Reference: {row['reference_answers']}")

In [7]:
i = 0
row = df.iloc[i]
present_row(row)

2hop__592067_529125

Fail

--------------------------------------------------------------------------------
# Milton, California
Milton is an unincorporated community in Calaveras County, California. It lies at an elevation of 394 feet (120 m) and is located at . The community is in ZIP code 95684 and area code 209.

# Calaveras County Courthouse
The Calaveras County Courthouse is a historic courthouse building in San Andreas, California. The brick courthouse was built in 1867 and contained the county's courtroom, jail, and sheriff's office; until 1888, executions were also conducted in the building. The county's Hall of Records was built in front of the courthouse in 1893; the two buildings nearly touch and are considered part of the same complex. The building's jail held outlaw Black Bart, a notorious Northern California highwayman, during his 1883 trial. In 1966, the county moved its courthouse to a new building; the old courthouse is now the Calaveras County Museum, which is operated by the Calaveras County Historical Society.
--------------------------------------------------------------------------------
What is the seat of the county where Milton is located?
--------------------------------------------------------------------------------
279200

Reference: ['San Andreas']

In [13]:
i = 8
row = fail_df.iloc[i]
present_row(row)

2hop__142965_178655

Fail

--------------------------------------------------------------------------------
# Nine Million Bicycles
"Nine Million Bicycles" is a song written and produced by Mike Batt for the singer Katie Melua's second album, "Piece by Piece". It was released as the album's first single in September 2005 and reached number five on the UK Singles Chart, becoming Melua's first top five hit as a solo artist. It was a finalist for The Record of the Year prize, losing to "You Raise Me Up" by Westlife.

# Ketevan (album)
Ketevan is the sixth studio album by Georgian-British singer Katie Melua, released in the United Kingdom on 16 September 2013 through Dramatico. At birth Melua was given the name Ketevan, but later she adopted the name Katie.
--------------------------------------------------------------------------------
What is the record label of the composer whose fifth studio album was titled Nine Million Bicycles?
--------------------------------------------------------------------------------


Reference: ['Dramatico']

In [98]:
df['n_triplets'] = df['triplets'].map(len)
df['n_triplets'].describe()

count    2417.000000
mean        2.894084
std         1.077480
min         1.000000
25%         2.000000
50%         3.000000
75%         3.000000
max         9.000000
Name: n_triplets, dtype: float64

In [99]:
poor_triplets_mask = df['n_triplets'] < df['n_hops']
df[poor_triplets_mask].describe()

           n_hops  exact_match          f1  fuzzy_match  n_triplets
count  349.000000   349.000000  349.000000   349.000000  349.000000
mean     3.303725     0.547278    0.638062     0.587393    2.214900
std      0.746265     0.498474    0.440480     0.493010    0.736726
min      2.000000     0.000000    0.000000     0.000000    1.000000
25%      3.000000     0.000000    0.000000     0.000000    2.000000
50%      3.000000     1.000000    1.000000     1.000000    2.000000
75%      4.000000     1.000000    1.000000     1.000000    3.000000
max      4.000000     1.000000    1.000000     1.000000    3.000000

In [100]:
surprise_success_df = df[poor_triplets_mask&success_mask]
len(surprise_success_df)

199

In [102]:
i = random.randint(0, len(surprise_success_df))
row = surprise_success_df.iloc[i]
present_row(row)

3hop1__33845_42197_18397

Success

--------------------------------------------------------------------------------
# Korean War
On 27 June 1950, two days after the KPA invaded and three months before the Chinese entered the war, President Truman dispatched the United States Seventh Fleet to the Taiwan Strait, to prevent hostilities between the Nationalist Republic of China (Taiwan) and the People's Republic of China (PRC). On 4 August 1950, with the PRC invasion of Taiwan aborted, Mao Zedong reported to the Politburo that he would intervene in Korea when the People's Liberation Army's (PLA) Taiwan invasion force was reorganized into the PLA North East Frontier Force. China justified its entry into the war as a response to "American aggression in the guise of the UN".

# Imperialism
Trotsky, and others, believed that the revolution could only succeed in Russia as part of a world revolution. Lenin wrote extensively on the matter and famously declared that Imperialism was the highest stage of capitalism. However, after Lenin's death, Joseph Stalin established 'socialism in one country' for the Soviet Union, creating the model for subsequent inward looking Stalinist states and purging the early Internationalist elements. The internationalist tendencies of the early revolution would be abandoned until they returned in the framework of a client state in competition with the Americans during the Cold War. With the beginning of the new era, the after Stalin period called the "thaw", in the late 1950s, the new political leader Nikita Khrushchev put even more pressure on the Soviet-American relations starting a new wave of anti-imperialist propaganda. In his speech on the UN conference in 1960, he announced the continuation of the war on imperialism, stating that soon the people of different countries will come together and overthrow their imperialist leaders. Although the Soviet Union declared itself anti-imperialist, critics argue that it exhibited tendencies common to historic empires. Some scholars hold that the Soviet Union was a hybrid entity containing elements common to both multinational empires and nation states. It has also been argued that the USSR practiced colonialism as did other imperial powers and was carrying on the old Russian tradition of expansion and control. Mao Zedong once argued that the Soviet Union had itself become an imperialist power while maintaining a socialist façade. Moreover, the ideas of imperialism were widely spread in action on the higher levels of government. Non Russian Marxists within the Russian Federation and later the USSR, like Sultan Galiev and Vasyl Shakhrai, considered the Soviet Regime a renewed version of the Russian imperialism and colonialism.

# Central Intelligence Agency
On 18 June 1948, the National Security Council issued Directive 10/2 calling for covert action against the USSR, and granting the authority to carry out covert operations against "hostile foreign states or groups" that could, if needed, be denied by the U.S. government. To this end, the Office of Policy Coordination was created inside the new CIA. The OPC was quite unique; Frank Wisner, the head of the OPC, answered not to the CIA Director, but to the secretaries of defense, state, and the NSC, and the OPC's actions were a secret even from the head of the CIA. Most CIA stations had two station chiefs, one working for the OSO, and one working for the OPC.
--------------------------------------------------------------------------------
Where did the arguer that the country Directive 10/2 called for actions against had become an imperialist power declare he would intervene in the Korean conflict?
--------------------------------------------------------------------------------
Triplets:
Mao Zedong | declared | he would intervene in Korea
Mao Zedong | reported to | Politburo

Answer: Politburo

Reference: ['the Politburo', 'Politburo']