In [17]:
from pathlib import Path

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [18]:
df = pd.read_json("exps.jsonl", lines=True)
print(len(df))
df.head()

21

,id,name,params.dataset.path,params.dataset.name,params.dataset.split,params.qa.model,params.qa.temperature,params.qa.system_prompt,params.qa.user_prompt_template,params.qa.few_shot_examples,...,metrics.gen_token_count.success.max,metrics.gen_token_count.fail.count,metrics.gen_token_count.fail.mean,metrics.gen_token_count.fail.std,metrics.gen_token_count.fail.min,metrics.gen_token_count.fail.25%,metrics.gen_token_count.fail.50%,metrics.gen_token_count.fail.75%,metrics.gen_token_count.fail.max,params.qa.technique
0,3b53532a85a31eaa5433c22e6c8c4bdbe51ebd7c,fleet-soft,bdsaglam/musique,answerable,validation,llama-3-70b-tgi,0,cok/adapted.txt,cq.txt,semi/cok.json,...,171,621,91.470209,22.905159,24,77.0,88,103.0,210,COK
1,793896f870bc70ff1b2f4ef77acec36d305465f3,phony-paws,bdsaglam/musique,answerable,validation,llama-3-70b-tgi,0,cte/format-triples-few.txt,cq.txt,semi/cte-triples.json,...,138,648,46.250000,17.435308,2,35.0,43,55.0,176,CTE
2,62dc756d636520762de01c3a1409d6b3705e3f8f,light-mana,bdsaglam/musique,answerable,validation,llama-3-70b-tgi,0,direct/format-few.txt,cq.txt,semi/direct.json,...,22,703,6.379801,6.749865,3,4.0,5,6.0,81,DIRECT
3,e9c1e4135254601b0f127996901f92f6e5beb16b,godly-inti,bdsaglam/musique,answerable,validation,llama-3-70b-tgi,0,cok/adapted.txt,cq.txt,semi/cok.json,...,203,613,94.750408,27.958209,24,75.0,91,110.0,250,COK
4,68772ef16bd4a819e444cc0ddf71f3c73cc93b3b,final-outs,bdsaglam/musique,answerable,validation,llama-3-70b-tgi,0,ccot/format-thought.txt,cq.txt,semi/ccot.json,...,241,796,44.778894,17.110925,15,32.0,42,55.0,125,CCOT

In [19]:
param_cols = [col for col in df.columns if col.startswith("params.")]
metric_cols = [col for col in df.columns if col.startswith("metrics.")]
df.drop(
    columns=[
        "id",
        "params.dataset.path",
        "params.dataset.name",
        "params.dataset.split",
        "params.qa.model",
    ],
    inplace=True,
)

In [20]:
target_param_cols = [
    "params.qa.technique",
    "params.qa.system_prompt",
    "params.qa.few_shot_examples",
    "params.qa.n_shot",
]
df = df.sort_values(target_param_cols + ["params.run"])
df.reset_index(drop=True, inplace=True)
df.head()

,name,params.qa.temperature,params.qa.system_prompt,params.qa.user_prompt_template,params.qa.few_shot_examples,params.qa.n_shot,params.qa.n_sc,params.run,metrics.exact_match,metrics.f1,...,metrics.gen_token_count.success.max,metrics.gen_token_count.fail.count,metrics.gen_token_count.fail.mean,metrics.gen_token_count.fail.std,metrics.gen_token_count.fail.min,metrics.gen_token_count.fail.25%,metrics.gen_token_count.fail.50%,metrics.gen_token_count.fail.75%,metrics.gen_token_count.fail.max,params.qa.technique
0,adust-paws,0,ccot/format-thought.txt,cq.txt,semi/ccot.json,0,1,1,0.591643,0.710493,...,162,700,49.575714,17.156312,19,38.0,47,59.0,187,CCOT
1,final-outs,0,ccot/format-thought.txt,cq.txt,semi/ccot.json,1,1,1,0.555234,0.678850,...,241,796,44.778894,17.110925,15,32.0,42,55.0,125,CCOT
2,batty-delf,0,ccot/format-thought.txt,cq.txt,semi/ccot.json,2,1,1,0.577989,0.685270,...,115,770,47.655844,17.907354,14,35.0,44,57.0,155,CCOT
3,jammy-ices,0,ccot/format-thought.txt,cq.txt,semi/ccot.json,3,1,1,0.574266,0.693445,...,112,759,50.180501,18.022277,16,38.0,47,60.0,124,CCOT
4,gypsy-feel,0,cok/adapted.txt,cq.txt,semi/cok.json,0,1,1,0.612329,0.725410,...,243,674,102.606825,35.052430,24,78.0,97,118.0,300,COK

In [21]:
def remove_ext(filename):
    return filename.split(".", 1)[0]


for col in [
    "params.qa.system_prompt",
    "params.qa.user_prompt_template",
    "params.qa.few_shot_examples",
]:
    df[col] = df[col].map(remove_ext)

In [22]:
mask = (df['params.qa.system_prompt'] != 'cte/format-triplets-few') 
df = df.loc[mask].copy()

In [23]:
cols_to_display = target_param_cols + metric_cols[:2]

In [24]:
for n_shot in df["params.qa.n_shot"].unique():
    mask = df["params.qa.n_shot"] == n_shot
    display(df[mask][cols_to_display].sort_values("metrics.f1", ascending=False))
    print('='*120)

,params.qa.technique,params.qa.system_prompt,params.qa.few_shot_examples,params.qa.n_shot,metrics.exact_match,metrics.f1
4,COK,cok/adapted,semi/cok,0,0.612329,0.725410
12,CTE,cte/format-triples-few,semi/cte-triples,0,0.597021,0.715439
0,CCOT,ccot/format-thought,semi/ccot,0,0.591643,0.710493
8,COT,cot/format-thought,semi/cot,0,0.584195,0.706219
17,DIRECT,direct/format-few,semi/direct,0,0.291684,0.366754

========================================================================================================================

,params.qa.technique,params.qa.system_prompt,params.qa.few_shot_examples,params.qa.n_shot,metrics.exact_match,metrics.f1
5,COK,cok/adapted,semi/cok,1,0.632602,0.744441
13,CTE,cte/format-triples-few,semi/cte-triples,1,0.609847,0.733338
9,COT,cot/format-thought,semi/cot,1,0.602813,0.718836
18,DIRECT,direct/format-few,semi/direct,1,0.581713,0.698696
1,CCOT,ccot/format-thought,semi/ccot,1,0.555234,0.678850

========================================================================================================================

,params.qa.technique,params.qa.system_prompt,params.qa.few_shot_examples,params.qa.n_shot,metrics.exact_match,metrics.f1
6,COK,cok/adapted,semi/cok,2,0.631361,0.746690
10,COT,cot/format-thought,semi/cot,2,0.593297,0.713085
19,DIRECT,direct/format-few,semi/direct,2,0.599090,0.711822
2,CCOT,ccot/format-thought,semi/ccot,2,0.577989,0.685270

========================================================================================================================

,params.qa.technique,params.qa.system_prompt,params.qa.few_shot_examples,params.qa.n_shot,metrics.exact_match,metrics.f1
14,CTE,cte/format-triples-few,semi/cte-triples,3,0.614812,0.740584
20,DIRECT,direct/format-few,semi/direct,3,0.603227,0.719669
3,CCOT,ccot/format-thought,semi/ccot,3,0.574266,0.693445
11,COT,cot/format-thought,semi/cot,3,0.573024,0.689830
7,COK,cok/adapted,semi/cok,3,0.547373,0.656394

========================================================================================================================